@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #adacac;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixedAdmin {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 15px;
    text-align: left;
}

th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    border-color: black;
    text-align: center;
}

    td img {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        border: 5px solid #e6e7e8;
    }

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 20px 10px;
}

.search-container {
    float: right;
}

input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
}

button {
    padding: 6px 10px;
    margin-right: 12px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

    button:hover {
        background: #ccc;
    }

@media screen and (max-width: 600px) {
    .search-container {
        float: none;
    }

    input[type=text], button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    input[type=text] {
        border: 1px solid #ccc;
    }
}

.small-table-container {
    width: 74%; /* Set the width to half of the original size */
    max-height: 100vh;
    overflow: auto;
    margin: 20px 0 0 0; /* Remove auto margin to align left */

}

    .small-table-container table {
        width: 100%; /* Ensure the table takes up the full width of its container */
        border-collapse: collapse;
    }



    .small-table-container th
    {
        color: white;
        background-color: black;
    }

    .small-table-container td {
        padding: 15px 30px 15px;
    }

        .small-table-container td img {
            height: 60px;
            width: 60px;
            border-radius: 100%;

        }



    .small-table-container::-webkit-scrollbar {
        width: 6px;
    }



    .small-table-container::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
